footer {
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    margin: 0 auto;
}

footer p {
    text-align: justify;
    letter-spacing: 1px;
    line-height: 1.4em;
}

ul{
    margin: 0;
    padding: 0;
}

.copy{
    font-size: 16px;
    margin: 0;
}

.div1-footer {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 180px;
    margin: 20px auto;
}

.div1-footer>div {
    width: 400px;
}

.h3-footer {
    margin: 10px 0;
    font-size: 1.5em;
}

.div2-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    height: 100px;
    margin: auto;
}

.div2-footer hr {
    margin: 0;
    align-self: baseline;
    width: 100%;
}

.links-footer {
    display: flex;
    list-style: none;
}

.links-footer a {
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 0.9em;
    margin-right: 20px;
}

@media (max-width: 1550px) {
    .div1-footer {
        flex-direction: column;
        height: auto;
        align-items: center;
    }

    .div1-footer>div {
        width: 1000px;
        margin: 20px 0;
    }

    .div2-footer {
        width: 1000px;
        align-items: center;
    }

}

@media (max-width: 1050px) {
    .div1-footer>div {
        width: 300px;
        margin: 0;
    }

    .div2-footer {
        flex-direction: column;
        width: 300px;
        align-items: center;
    }
    .links-footer a {

    }
}
    