* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1380px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    max-width: 1920px;
    margin: 0 auto;
    padding: 90px 0;

}

@media (max-width: 1050px){
    p{
        font-size: 14px !important;
    }
    h2{
        font-size: 2.5em !important;
    }
    h3{
        font-size: 1.1em !important;
    }
}